extends layout

block content
	div.content
		.row
			.col-md-6
				h2.lead Edit Question
				form(method='post', action='/questions/'+ question.id)
					.form-group
						textarea.input-lg(name='question', id='question', class='form-control', rows='3', required)=question.question
					button.btn.btn-primary.btn-block Update Question
					a.btn.btn-link.btn-block(href='/questions') Cancel
				h2.lead Add a Choice
				form(method='post', action= '/questions/' + question.id+'/choices/add')
					.input-group
						input.form-control(type='text', name='type', placeholder='Enter a choice Type', required)
						input.form-control(type='text', name='value', placeholder='Enter a choice Value')
						span.input-group-btn
							button.btn.btn-primary.btn-block Add Choice
			.col-md-6
				h2.lead Edit Choices
				ul.list-group
					each choice in question.Choices
						li.list-group-item
							form(method='post', action='/questions/' + question.id + '/choices/' + choice.id)
								.row
									.col-xs-6
										input.form-control(type=choice.type, name='choice', id='choice_'+choice.id, value=choice.value, required)
										|   #{choice.value}
									.col-xs-3
										a.btn.btn-primary.btn-block(href='/questions/' + question.id + '/choices/' + choice.id + '/delete') Remove Choice
											i.glyphicon.glyphicon-trash
		.row
			.col-md-6
				p
					br
					a.button.btn.btn-primary(href='/questions/') Back to questions