//signup.jade

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Sign Up
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(href='../css/signin.css', rel='stylesheet')
  body(data-spy='scroll', data-target='.scrollspy')
    .container
      form(name="login", action = "/users/signup", method = "post").form-signin
        h2.form-signin-heading Please sign up
        label.sr-only(for='inputEmail') First Name
        input(type="text", name="first_name", id="first_name" placeholder="First Name").form-control
        label.sr-only(for='inputPassword') Last Name
        input(type="text", name="last_name", id="last_name" placeholder="Last Name").form-control
        label.sr-only(for='inputPassword') Password
        input(type="text", name="email", id="email" placeholder="Email").form-control
        label.sr-only(for='inputPassword') Email
        input(type="password", name="password", id="password" placeholder="Password").form-control
        br
        button.btn.btn-lg.btn-primary.btn-block(type='submit' ac) Sign Up
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')